<a href="/" class="back">< Back</a>
<div class="user-box">
    <p>Create New Team Member</p>
    <form action="" method="POST">
        <div class="text-input">
            <label for="name">First Name:</label><br>
            <input type="text" id="name" name="name">
        </div>
        <div class="text-input">
            <label for="place_of_birth">Place of Birth:</label><br>
            <input type="text" id="birthplace" name="place_of_birth">
        </div>
        <div class="text-input">
            <label for="Bio">Bio:</label><br>
            <textarea id="bio" name="Bio" rows="2" cols="40"></textarea>
        </div>
        <div class="text-input">
            <label for="image">Profile Pic:</label><br>
            <input type="text" id="profile-image" name="image"
                placeholder="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.basketballinsiders.com%2Fgrizzlies">
        </div>
        <div id="submit-form">
            <button>Create</button>
        </div>
    </form>
</div>

