body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 65px;
}
.user-button {
  /* background-color: #5dfdcb; */
  width: 50%;
  height: 300px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 8px;
}

.user-button:nth-child(2) {
  background-color: #5dfdcb;
}
.user-button:nth-child(3) {
  background-color: #7cc6fe;
}
.user-button:nth-child(4) {
  background-color: #8789c0;
}
.user-button:nth-child(5) {
  background-color: #5dfdcb;
}
.user-button:nth-child(6) {
  background-color: #7cc6fe;
}
.user-button:nth-child(7) {
  background-color: #8789c0;
}
.user-button:hover {
  opacity: 0.6;
  filter: drop-shadow(0 0 0.4rem gray);
}
.user-button:focus {
  opacity: 0.6;
  filter: drop-shadow(0 0 0.4rem gray);
}

.user-button p {
  padding-top: 90px;
  font-size: 30px;
}

.new-profile-button {
  border: 2px dashed black;
  border-radius: 8px;
  width: 50%;
  height: 300px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

.new-profile-button p {
  padding-top: 90px;
}

.user-name {
  font-size: 60px;
}

.user-box {
  text-align: left;
  margin: 0 32%;
  padding: 0;
}

.profile-info {
  font-size: 30px;
}

.bio h3 {
  font-size: 16px;
}
.bio p {
  font-size: 20px;
}

.user-box a {
  position: relative;
  bottom: 0;
  left: 95%;
}
.user-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.profile-img {
  /* border: 10px solid black; */
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin-right: 2rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.edit {
  text-decoration: none;
  font-size: 1.2rem;
  color: #24187e;
}
.back {
  text-decoration: none;
  font-size: 1.2rem;
  color: #24187e;
  margin: 2rem;
}

.user-box p {
  font-size: 2.7rem;
  text-align: center;
}

.text-input {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.text-input input {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

.text-input textarea {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

#submit-form {
  text-align: center;
}

#submit-form button {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 50%;
  background-color: #24187e;
  color: white;
  border-radius: 8px;
}

#submit-form button:focus {
  outline: none;
}

@media (min-width: 48rem) {
  .user-button {
    width: 17%;
  }

  .new-profile-button {
    width: 17%;
  }
}
